{% extends './base.html' %} {% load static %} 
{% block title %} Home {%endblock %} 
{% block content %}
<script>
    let address = "{{ user.address }}"; 
  
    let cartData = [
      {% for item in cart_data %}
        {
          id: {{ item.product.id }},
          quantity: {{ item.quantity }}
        }{% if not forloop.last %},{% endif %}
      {% endfor %}
    ];
  
    let data = {
      address: address,
      items: cartData
    };
  
  function checkOut(data) {
    $.ajax({
        url: '/shop/checkout',
        type: "POST",
        data: JSON.stringify(data),
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        },
        contentType: "application/json"
    });
  }  
</script>
<section id="billboard" class="bg-light py-5">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="section-title text-center mt-4" data-aos="fade-up">
        {{category.title}}
      </h1>
    </div>
    <div class="container">
      <table>
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart_data %}
          <tr>
            <td>{{ item.product.title }}</td>
            <td>{{ item.quantity }}</td>
            <td>${{ item.product.price }}</td>
            <td>${% widthratio item.quantity 1 item.product.price %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <h3>Total: ${{ total_price }}</h3>

      <button type="submit" onClick="checkOut(data)">Place Order</button>

      <form method="POST" action="{% url 'purchase' %}">
        {% csrf_token %}
        <label for="address">Shipping Address:</label><br />
        <input type="text" value="{{ user.address }}" class="mb-2"
          name="address"
          id="address"
         />
        <button type="submit">Purchase Order</button>
      </form>
    </div>
  </div>
</section>

{% endblock %}
