<nav
  class="navbar navbar-expand-lg bg-light text-uppercase fs-6 p-3 border-bottom align-items-center"
>
  <div class="container-fluid">
    <div class="row justify-content-between align-items-center w-100">
      <div class="col-auto">
        <a class="navbar-brand h3" href="/"> CH </a>
      </div>

      <div class="col-auto">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="offcanvas offcanvas-end"
          tabindex="-1"
          id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
            <button
              type="button"
              class="btn-close text-reset"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>

          <div class="offcanvas-body">
            <ul
              class="navbar-nav justify-content-end flex-grow-1 gap-1 gap-md-5 pe-3"
            >
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="dropdownShop"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Shop</a
                >
                <ul
                  class="dropdown-menu list-unstyled"
                  aria-labelledby="dropdownShop"
                >
                  <li>
                    <a href={% url 'home' %} class="dropdown-item item-anchor">
                      Categories
                    </a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item item-anchor">
                      Products
                    </a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item item-anchor">
                      Sellers
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-auto">
        {% if user.is_authenticated %}

        <ul class="list-unstyled d-flex m-0">
          <li class="d-none d-lg-block">
            <a href="{% url 'product-create' %}" class="text-uppercase mx-3"
              >Add Item</a
            >
          </li>
          <li class="d-none d-lg-block">
            <a href="/" class="text-uppercase mx-3"
              >Favorite <span class="wishlist-count" id="favCount">()</span>
            </a>
          </li>
          <li class="d-none d-lg-block">
            <a
              href="index.html"
              class="text-uppercase mx-3"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasCart"
              aria-controls="offcanvasCart"
              >Cart <span class="cart-count" id="cartCount">()</span>
            </a>
          </li>
          <li class="d-lg-none">
            <a href="#" class="mx-2">
              <svg width="24" height="24" viewBox="0 0 24 24">
                <use xlink:href="#heart"></use>
              </svg>
            </a>
          </li>
          <li class="d-lg-none">
            <a
              href="#"
              class="mx-2"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasCart"
              aria-controls="offcanvasCart"
            >
              <svg width="24" height="24" viewBox="0 0 24 24">
                <use xlink:href="#cart"></use>
              </svg>
            </a>
          </li>
          <li class="search-box" class="mx-2">
            <a href="#search" class="search-button">
              <svg width="24" height="24" viewBox="0 0 24 24">
                <use xlink:href="#search"></use>
              </svg>
            </a>
          </li>
          <li class="d-none d-lg-block">
            <form method="post" action="{% url 'logout' %}" class="noform mx-2">
              {% csrf_token %}
              <button type="submit" class="btn btn-link">Logout</button>
            </form>
          </li>
        </ul>

        {% else %}
        <a
          type="button"
          class="btn btn-primary btn-lg"
          href="{% url 'user-login' %}"
          >Login</a
        >
        <a
          type="button"
          class="btn btn-secondary btn-lg"
          href="{% url 'user-register' %}"
          >Register</a
        >
        {% endif %}
      </div>
    </div>
  </div>
</nav>
